# Copie este arquivo para terraform.tfvars e ajuste os valores
# cp terraform.tfvars.example terraform.tfvars

aws_region        = "us-east-1"
environment       = "dev"
cluster_name      = "kube-news-eks"
cluster_version   = "1.30"

vpc_cidr          = "10.0.0.0/16"

node_instance_types = ["t3.small"]
node_min_size       = 1
node_max_size       = 2
node_desired_size   = 1
node_disk_size      = 20
